{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="nav-links" href="{% url 'recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
                <a class="nav-links" href="{% url 'my_recipe_list' %}">My recipes</a>
                <a class="nav-links" href="{% url 'create_recipe' %}">Create a recipe</a>
                <a class="nav-links" href="{% url 'user_logout' %}">Logout</a>
                Hello, {{user.username}}
            {% else %}
                <a class="nav-links" href="{% url 'signup' %}">Sign Up!</a>
                <a class="nav-links" href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
