{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="nav-links" href="{% url 'recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
                <a class="nav-links" href="{% url 'my_recipe_list' %}">My recipes</a>
                <a class="nav-links" href="{% url 'create_recipe' %}">Create a recipe</a>
                <a class="nav-links" href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
                <a class="nav-links" href="{% url 'user_logout' %}">Logout</a>
                Hello, {{user.username}}
            {% else %}
                <a class="nav-links" href="{% url 'signup' %}">Sign Up!</a>
                <a class="nav-links" href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>{{recipe_object.title}}</h1>
        <img src="{{recipe_object.picture}}">
        <div>4.3 stars</div>
        <p>{{recipe_object.description}}</p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th style="width:41%">Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all%}
                    <tr>
                        <td>{{ingredient.amount}}</td>
                        <td>{{ingredient.food_item}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{step.instruction}}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}
