{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="nav-links" href="{% url 'recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
            <a class="nav-links" href="{% url 'my_recipe_list' %}">My recipes</a>
                <a class="nav-links" href="{% url 'create_recipe' %}">Create a recipe</a>
                <a class="nav-links" href="{% url 'user_logout' %}">Logout</a>
                Hello, {{user.username}}
            {% else %}
                <a class="nav-links" href="{% url 'signup' %}">Sign Up!</a>
                <a class="nav-links" href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-sections">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a class="recipe-links" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p class="created_date">{{recipe.created_on|date:"F j, Y"}}</p>
                <img src="{{ recipe.picture }}">
                <div>4.3 stars</div>
            </div>
            {% empty %}
                <p>There are no recipes.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
