@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: linear-gradient(to bottom right, rgb(255, 90, 51),
    rgb(180,207,102));
    /* background-color: rgb(255,90,51); */
}

main {
    padding: 16px;
    background-color:rgb(165, 190, 90);
    /* background-image: linear-gradient(to bottom right, rgb(180, 207, 102),
    rgb(198, 150, 75)) */

}

footer {
    font-size: 1.10em;
    padding: 24px 0px;
    padding-left: 10px;
    background-image: linear-gradient(to bottom right, rgb(180,207,102),
     rgb(255, 90, 51));
    color: white;
    /* background-color: rgb(180, 207,102); */
}

img {
    height: 200px;
    width: 133px;
    border-radius: 8px;
    object-fit: cover;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

/* Grid layout */
.recipe-sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* Colors and Effects */
.nav-links {
    color: white;
    margin-right: 25px;
}

h1, .recipe-links {
    color: rgb(20, 97, 82);
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

.created_date {
    font-size: smaller;
}

/* Ingredients Table Styling */
table, th, td {
    border-radius: 5px;
    text-align: center;
    border: 1px solid black
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: white;
}

th {
    color: white;
    font-weight: bolder;
    font-size: 110%;
    background-color: rgb(68, 128, 63);
}
